/** @format */

@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

h1,
h2,
h3,
h5 {
  font-family: "Bangers", cursive;
}

p,
li,
a,
span,
button {
  font-family: "Fredoka", sans-serif;
}

.carousel-item h3 {
  color: #ee9322;
  text-shadow: 1px 1px 2px red, 0 0 1em rgb(201, 201, 212), 0 0 0.2em blue;
}

p {
  font-size: 20px;
  text-shadow: 1px 1px 2px rgb(192, 127, 235), 0 0 1em rgb(201, 201, 212),
    0 0 0.2em blue;
}

.img-logo {
  width: 100px;
  height: 130px;
}

.nav {
  background-color: #afd3e2;
}

.nav a:nth-child(1) {
  color: #ee9322;
  font-weight: 500;
}

.nav a:hover {
  color: #146c94;
  font-weight: 500;
  background-color: #ee9322;
}

footer .copyright {
  padding: 25px 0;
  font-size: 20px;
  background-color: black;
  border-top: 2px solid rgba(256, 256, 256, 0.5);
}

#kingandQueens {
  text-shadow: 2px 21px 3px rgb(94, 255, 0), 0 0 1em rgb(175, 199, 69),
    0 0 0.2em blue;
  color: aquamarine;
}

.cr > a {
  text-decoration: none;
  font-weight: 500;
}

.style-brcrump{
    text-decoration: none;
    color: black;
    transition: all 0.4s;
}
.style-brcrump:hover{
    color: #ee9322;
}

.title-des {
  font-family: "Bangers", cursive;
  text-shadow: none;
}
.remove-shadow {
  text-shadow: none;
}

.btn.buttom-form {
  background-color: #ee9322;
  border: 1px solid #ee9322;
  transition: 0.4s;
  color: white;
  font-weight: bold;
}

.btn.buttom-form:hover {
  background-color: white;
  color: #ee9322;
  border: 1px solid #ee9322;
}

.banner-contact {
  background: url(././img-contact/12.png) center center
    no-repeat;
  background-size: cover;
}
.btn.bottom-footer{
  background-color: #ee9322;
  color: white;
}
.btn.bottom-footer:hover{
    background-color: white;
    color: #ee9322;
}

a.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  width: 48px;
  height: 48px;
  transition: 0.5s; 
}

a.back-to-top {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 99;
}

.slideInDown {
    animation-name: slideInDown;
}
.animated {
    animation-duration: 0.4s;
    animation-fill-mode: both;
}