.button-1{
    background-color: #EE9322;
    color: white;
    border: 2px solid #EE9322;
    width: 5em;
    height: 5ex;
  border-radius: 10px;
  }
  .button-1:hover{
  background-color: white;
  color: #EE9322;
  transition: all 0.5s;
  }
  .baner{ 
    background: url(./ba.jpg) center center no-repeat; 
    background-size: cover; 
  }
  @import url("https://fonts.googleapis.com/css2?family=Bangers&family=Fredoka:wght@300;400;500&display=swap");

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
  }
  
  #spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
    z-index: 99999;
  }
  
  h1,
  h2,
  h3,
  h5 {
    font-family: "Bangers", cursive;
  }
  
  p,
  li,
  a,
  span,
  button {
  
    text-decoration: none;
  }
  
  .carousel-item h3 {
    color: #ee9322;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(201, 201, 212), 0 0 0.2em blue;
  }
  
  p {
    font-size: 18px;
    text-shadow: 1px 1px 2px rgb(192, 127, 235), 0 0 1em rgb(201, 201, 212),
      0 0 0.2em blue;
  }
  
  .img-logo {
    width: 100px;
    height: 130px;
  }
  
  .nav {
    background-color: #afd3e2;
  }
  
  .nav a:nth-of-type(3) {
    color: #ee9322;
    font-weight: 500;
  }
  
  .nav a:hover {
    color: #146c94;
    font-weight: 500;
    background-color: #ee9322;
  }
  
  .concus {
    background-color: #afd3e2;
  }
  
  footer .copyright {
    padding: 25px 0;
    font-size: 20px;
    background-color: black;
    border-top: 2px solid rgba(256, 256, 256, 0.5);
  }
  
  #kingandQueens {
    text-shadow: 2px 21px 3px rgb(94, 255, 0), 0 0 1em rgb(175, 199, 69),
      0 0 0.2em blue;
    color: aquamarine;
  }
  
  .cr > a {
    text-decoration: none;
    font-weight: 500;
  }
  